<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><p><%= message %></p></div>
    <% } %>

    <div class="container">
      <form id="addStock" action="/add" method="post">
        <div class="form-inline">
          <input type="text" class="form-control" name="stockTicker" placeholder="Enter a stock ticker">
          <button type="submit" class="btn btn-primary"><span>Add Stock</span></button>
        </div>
      </form>
    </div>

    <!--<div id="stockContainer"></div>-->
    <% if (activeStocks) { %>
      <% for (var i=0; i< activeStocks.length; i++) { %>
        <div> <%- activeStocks[i] %></div>
      <% } %>
    <% } %>

     <% include partials/footer.ejs %>
  </body>

  <!-- jQuery and jQuery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <!-- Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Client JavaScript -->
  <script src="/javascripts/script.js"></script>

</html>
