<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><p><%= message %></p></div>
    <% } %>

    <div id="stockContainer">

      <div id="chart">
      </div>
        <% if (activeStocks) { %>
          <% for (var i=0; i< activeStocks.length; i++) { %>
            <div class="stockBox">
                <%- activeStocks[i].ticker %>
                <div>
                  <form class="removeStock" action="/remove/<%- activeStocks[i].id %>" method="post">
                    <button type="submit" class="btn btn-primary"><span>X</span></button>
                  </form>
                </div>
            </div>
          <% } %>
        <% } %>
      </div>

    </div>


     <% include partials/footer.ejs %>
  </body>

  <!-- Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Client JavaScript -->
  <script src="/javascripts/script.js"></script>

</html>
