<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><p><%= message %></p></div>
    <% } %>

    <div id="stockContainer">

      <div id="chart">
          <script class="loadChart" type="text/javascript">

              ///decode to avoid XSS attacks
              function htmlDecode(input){
                  var e = document.createElement('div');
                  e.innerHTML = input;
                  return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
              }

              var activeStocks = JSON.parse(htmlDecode("<%= JSON.stringify(activeStocks) %>"));

              var chart = document.getElementById('chart');
              var seriesOptions = [];

              //convert to format for highcharts
              for (var i=0; i <activeStocks.length; i++) {
                  seriesOptions[i] = {
                      name: activeStocks[i].ticker,
                      data: activeStocks[i].series
                  };
              }

              //seriesOptions = [{name: "MSFT",data: [[1278547200000,48],[1278747200000, 49]]}, {name: "GOOGLE",data: [[1278547200000,58],[1278747200000, 57]]} ]
              console.log(seriesOptions);
              function createChart() {
                  Highcharts.stockChart(chart, {
                      rangeSelector: {
                          selected: 4
                      },
                      yAxis: {
                          labels: {
                              formatter: function () {
                                  return (this.value > 0 ? ' + ' : '') + this.value + '%';
                              }
                          },
                          plotLines: [{
                              value: 0,
                              width: 2,
                              color: 'silver'
                          }]
                      },
                      plotOptions: {
                          series: {
                              compare: 'percent',
                              showInNavigator: true
                          }
                      },
                      tooltip: {
                          pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                          valueDecimals: 2,
                          split: true
                      },
                      series: seriesOptions
                  });
              }
              createChart();


          </script>

      </div>
        <% if (activeStocks) { %>
          <% for (var i=0; i< activeStocks.length; i++) { %>
            <div class="stockBox">
                <%- activeStocks[i].ticker %>
                <div>
                  <form class="removeStock" action="/remove/<%- activeStocks[i].id %>" method="post">
                    <button type="submit" class="btn btn-primary"><span>X</span></button>
                  </form>
                </div>
            </div>
          <% } %>
        <% } %>
      </div>

    </div>


     <% include partials/footer.ejs %>
  </body>

  <!-- Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Client JavaScript -->
  <script src="/javascripts/script.js"></script>

</html>
